# .env.example

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=username
DB_PASSWORD=password
DB_NAME=mydatabase

# Server Configuration
HOST=localhost
PORT=3000

# JWT
JWT_SECRET=mysecretkey

# Other Environment Variables
OTHER_VAR=value
